* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #072B4B, #194771);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}


form {
    width: 850px;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 4px 50px 13px rgba(0, 0, 0, 0.1);
}

.connecter {
    padding: 22px;
    background-color: #fff;
    height: 32rem;
    font-weight: 400;
}

.connecter h1 {
    font-size: 1.7rem;
    color: #194771;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;

}

.holder {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.holder input {
    width: 90%;
    padding: 13px;
    border-radius: 8px;
    border: solid 1px #ccc;
    margin-top: 12px;
    font-weight: 500;
    font-size: 15px;
    color: #64748b;
}

.manager {
    padding: 22px;
    font-weight: 400;
    height: 32rem;
    background: linear-gradient(to bottom, #072B4B, #194771);
}


.btn {
    padding: 22px;
}

button {
    width: 180px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    background-color: #034685;
    cursor: pointer;
    color: #fff;
}




.ronder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
}

.ronder h1 {
    padding: 22px;
    border: solid;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    color: #225382;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    box-shadow: 3px 5px 60px 15px #fff(0, 0, 0, 0.2);
}

.second {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
}

.manager p {
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;

}


@media (max-width:577px) {
    form {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 12px;
        width: 800px;
        height: 95%;
    }
   .btn {
    display: flex;
    justify-content: center;
    align-items: center;
   }


}


@media (max-width:425px) {
    form {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 12px;
    }

}